/* line 1, ../sass/main.scss */
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  color: #555555;
  line-height: 22px;
}

/* line 11, ../sass/main.scss */
body {
  height: 100%;
  width: 100%;
  background: url("../img/bg.jpg") center top;
  background-size: cover;
  margin: 0;
  text-align: center;
}

/* line 20, ../sass/main.scss */
main {
  max-width: 700px;
  height: 100%;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 auto;
}

/* line 28, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 32, ../sass/main.scss */
address, time {
  display: block;
  font-family: "Droid Seriff";
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

/* line 40, ../sass/main.scss */
.mapContainer {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #EEEEEE;
}

/* line 47, ../sass/main.scss */
nav {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: #B1882E;
}
/* line 55, ../sass/main.scss */
nav.lockedAtTop {
  position: fixed;
  top: 0;
  margin-top: 0;
}

/* line 63, ../sass/main.scss */
section {
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 10px 50px;
  text-align: justify;
  border-bottom: 2px solid #EEEEEE;
}
/* line 72, ../sass/main.scss */
section h1, section h2, section h3 {
  width: 100%;
  font-family: "Tangerine";
  font-size: 70px;
  line-height: 0px;
  text-align: center;
  text-shadow: 3px 3px #EEEEEE;
}
/* line 82, ../sass/main.scss */
section .name {
  font-family: "Tangerine";
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px #EEEEEE;
}

/* line 92, ../sass/main.scss */
.posterSection {
  height: 100%;
  background: url("../img/jonkaitlinposter.jpg") center top no-repeat;
  background-size: cover;
}

/* line 99, ../sass/main.scss */
.overviewSection .groomPhoto, .overviewSection .bridePhoto {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 10px solid #EEEEEE;
  box-shadow: 0 0 5px 1px #B1882E;
}
/* line 109, ../sass/main.scss */
.overviewSection .groomPhoto {
  background: url("../img/jk1.jpg") center top no-repeat;
  background-size: cover;
}
/* line 114, ../sass/main.scss */
.overviewSection .bridePhoto {
  background: url("../img/jk2.jpg") center top no-repeat;
  background-size: cover;
}
/* line 119, ../sass/main.scss */
.overviewSection h3 {
  font-size: 40px;
}
/* line 123, ../sass/main.scss */
.overviewSection .groomSummaryContainer, .overviewSection .brideSummaryContainer {
  width: 43%;
  float: left;
  margin: 0 3%;
}
/* line 129, ../sass/main.scss */
.overviewSection .groomSummary, .overviewSection .brideSummary {
  margin-top: -15px;
}
/* line 133, ../sass/main.scss */
.overviewSection .coupleSummary {
  width: 100%;
  margin-top: 30px;
}

/* line 140, ../sass/main.scss */
.eventSection .eventSummary {
  width: 100%;
  margin: 30px auto 40px;
}
/* line 144, ../sass/main.scss */
.eventSection .eventSummary a {
  color: #555555;
  text-decoration: none;
}
/* line 150, ../sass/main.scss */
.eventSection address, .eventSection time {
  width: 43%;
  float: left;
  margin-right: 7%;
  font-style: normal;
}

/* line 159, ../sass/main.scss */
.hotelSection .hotelSummary {
  width: 100%;
  margin: 30px auto 30px;
}
/* line 163, ../sass/main.scss */
.hotelSection .hotelSummary .shuttleTitle {
  display: block;
  font-family: "Droid Seriff";
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
/* line 171, ../sass/main.scss */
.hotelSection .hotelSummary time {
  font-size: 1.2em;
}

/* line 177, ../sass/main.scss */
.registrySection {
  height: 100%;
}
/* line 179, ../sass/main.scss */
.registrySection .registrySummary {
  margin-bottom: 30px;
}
/* line 183, ../sass/main.scss */
.registrySection .cbLogo {
  width: 320px;
  height: 100px;
  background: url("../img/crate_barrel.png") center top;
  background-size: cover;
  float: left;
}
/* line 191, ../sass/main.scss */
.registrySection .weLogo {
  width: 320px;
  height: 100px;
  background: url("../img/West_Elm_Logo.gif") center top;
  background-size: cover;
  float: left;
}
