/* line 1, ../sass/main.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #432523;
}

/* line 7, ../sass/main.scss */
.clear {
  float: clear;
}

/* line 11, ../sass/main.scss */
.main {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
}
/* line 18, ../sass/main.scss */
.main .section {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
/* line 24, ../sass/main.scss */
.main .posterSection {
  overflow: hidden;
}
/* line 27, ../sass/main.scss */
.main .posterSection img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 34, ../sass/main.scss */
.main nav {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: #B1882E;
}
/* line 42, ../sass/main.scss */
.main nav.lockedAtTop {
  position: fixed;
  top: 0;
  margin-top: 0;
}
/* line 50, ../sass/main.scss */
.main .overviewSection .overviewTitle {
  width: 100%;
  height: 33%;
}
/* line 54, ../sass/main.scss */
.main .overviewSection .overviewTitle h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
/* line 61, ../sass/main.scss */
.main .overviewSection .overviewSummary {
  width: 100%;
  height: 33%;
}
/* line 66, ../sass/main.scss */
.main .overviewSection .overviewGridContent {
  width: 33%;
  height: 33%;
  float: left;
}
