/* line 1, ../sass/main.scss */
html {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  font-size: 14px;
  color: #555555;
  line-height: 22px;
}

/* line 11, ../sass/main.scss */
body {
  height: 100%;
  width: 100%;
  background: url("../img/bg_opt.jpg") center top;
  background-size: cover;
  margin: 0;
  text-align: center;
}

/* line 20, ../sass/main.scss */
main {
  visibility: hidden;
  max-width: 800px;
  height: 100%;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 auto;
}

/* line 30, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 34, ../sass/main.scss */
address, time {
  display: block;
  font-family: "Droid Seriff";
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
}

/* line 42, ../sass/main.scss */
.mapContainer {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #EEEEEE;
}

/* line 49, ../sass/main.scss */
nav {
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #B1882E;
  opacity: 0.9;
  line-height: 40px;
}
/* line 61, ../sass/main.scss */
nav.lockedAtTop {
  position: fixed;
  top: 0;
  left: auto;
  max-width: 800px;
}
/* line 68, ../sass/main.scss */
nav ul {
  padding: 0;
  margin: 0;
}
/* line 73, ../sass/main.scss */
nav li {
  list-style-type: none;
  float: left;
  width: 25%;
}
/* line 78, ../sass/main.scss */
nav li a {
  text-align: center;
  color: #FFFFFF;
  font-family: "Tangerine";
  font-size: 2em;
  text-decoration: none;
}

/* line 89, ../sass/main.scss */
section {
  width: 88%;
  display: block;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 1% 6%;
  text-align: justify;
}
/* line 97, ../sass/main.scss */
section h1, section h2, section h3 {
  width: 100%;
  font-family: "Tangerine";
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  text-shadow: 3px 3px #EEEEEE;
  margin: 20px 0;
}
/* line 108, ../sass/main.scss */
section .name {
  font-family: "Tangerine";
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px #EEEEEE;
}
/* line 116, ../sass/main.scss */
section .anchorLink {
  position: relative;
  top: -40px;
}

/* line 124, ../sass/main.scss */
.posterSection {
  width: 100%;
  height: 100%;
  background: url("../img/jonkaitlinposter.jpg") center top no-repeat;
  background-size: cover;
  padding: 0;
}

/* line 132, ../sass/main.scss */
.overviewSection {
  background-color: #F8F8F8;
}
/* line 134, ../sass/main.scss */
.overviewSection .groomPhoto, .overviewSection .bridePhoto {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 10px solid #EEEEEE;
  box-shadow: 0 0 5px 1px #B1882E;
}
/* line 144, ../sass/main.scss */
.overviewSection .groomPhoto {
  background: url("../img/jk1_opt.jpg") center top no-repeat;
  background-size: cover;
}
/* line 149, ../sass/main.scss */
.overviewSection .bridePhoto {
  background: url("../img/jk2_opt.jpg") center top no-repeat;
  background-size: cover;
}
/* line 154, ../sass/main.scss */
.overviewSection h3 {
  font-size: 40px;
}
/* line 158, ../sass/main.scss */
.overviewSection .groomSummaryContainer, .overviewSection .brideSummaryContainer {
  width: 43%;
  float: left;
  margin: 0 3%;
}
/* line 164, ../sass/main.scss */
.overviewSection .groomSummary, .overviewSection .brideSummary {
  margin-top: -15px;
}
/* line 168, ../sass/main.scss */
.overviewSection .coupleSummary {
  width: 100%;
  margin-top: 30px;
}

/* line 174, ../sass/main.scss */
.eventSection {
  background-color: #F0F0F0;
}
/* line 176, ../sass/main.scss */
.eventSection .eventSummary {
  width: 100%;
  margin: 30px auto 40px;
}
/* line 180, ../sass/main.scss */
.eventSection .eventSummary a {
  color: #555555;
  text-decoration: none;
}
/* line 186, ../sass/main.scss */
.eventSection address, .eventSection time {
  width: 43%;
  float: left;
  margin-right: 7%;
  font-style: normal;
}

/* line 194, ../sass/main.scss */
.hotelSection {
  background-color: #E8E8E8;
}
/* line 196, ../sass/main.scss */
.hotelSection .hotelSummary {
  width: 100%;
  margin: 30px auto 30px;
}
/* line 200, ../sass/main.scss */
.hotelSection .hotelSummary .shuttleTitle {
  display: block;
  font-family: "Droid Seriff";
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
/* line 208, ../sass/main.scss */
.hotelSection .hotelSummary .venueToHotel {
  margin-top: 20px;
}
/* line 212, ../sass/main.scss */
.hotelSection .hotelSummary time {
  font-size: 1.2em;
}

/* line 218, ../sass/main.scss */
.registrySection {
  background-color: #E0E0E0;
  min-height: 100%;
}
/* line 222, ../sass/main.scss */
.registrySection .registrySummary {
  margin-bottom: 30px;
}
/* line 226, ../sass/main.scss */
.registrySection .cbContainer, .registrySection .weContainer {
  display: block;
  width: 50%;
  float: left;
}
/* line 232, ../sass/main.scss */
.registrySection .cbLogo {
  width: 320px;
  height: 100px;
  background: url("../img/crate_barrel.jpg") center top;
  background-size: cover;
  margin: 0 auto;
}
/* line 240, ../sass/main.scss */
.registrySection .weLogo {
  width: 320px;
  height: 125px;
  background: url("../img/West_Elm_Logo.jpg") center top;
  background-size: cover;
  margin: 0 auto;
}

@media (max-width: 675px) {
  /* line 251, ../sass/main.scss */
  .registrySection .cbContainer, .registrySection .weContainer {
    display: block;
    width: 100%;
    float: none;
  }
}
@media (max-width: 600px) {
  /* line 261, ../sass/main.scss */
  .overviewSection .groomSummaryContainer, .overviewSection .brideSummaryContainer {
    width: 100%;
    float: none;
    margin: 0;
  }
  /* line 266, ../sass/main.scss */
  .overviewSection .groomSummaryContainer {
    margin-bottom: 30px;
  }
}
