/* line 2, ../sass/main.scss */
html, body {
  height: 100%;
  width: 100%;
  background-color: #432523;
}

/* line 9, ../sass/main.scss */
.page {
  height: 90%;
  width: 1000px;
  min-width: 800px;
  margin: 0px auto;
  padding: 40px 0px;
}
/* line 16, ../sass/main.scss */
.page .imageFrame {
  float: left;
  height: auto;
  width: 45%;
  background-color: #FFFFFF;
  margin-right: 10%;
  border: solid 15px #080822;
}
/* line 27, ../sass/main.scss */
.page .imageFrame .imageContainer {
  width: 100%;
  height: auto;
}
/* line 31, ../sass/main.scss */
.page .imageFrame .imageContainer img {
  height: 89%;
  width: 89%;
  margin: 5%;
  padding: 2px;
  background: linear-gradient(to bottom left, #aaaaaa, #cccccc);
}
/* line 41, ../sass/main.scss */
.page .infoContainer {
  float: left;
  height: 100%;
  width: 40%;
}
/* line 46, ../sass/main.scss */
.page .infoContainer::after {
  float: clear;
}
/* line 50, ../sass/main.scss */
.page .infoContainer .titleCard {
  height: 30%;
  width: 100%;
  background-color: #FFFFFF;
  border: 1px black solid;
}
/* line 56, ../sass/main.scss */
.page .infoContainer .infoCard {
  height: 60%;
  width: 100%;
  margin-top: 10%;
  background-color: #FFFFFF;
  border: 1px black solid;
}
