html {
	height: 100%;
	width: 100%;
	// background-color: #432523;
	font-family: "Roboto";
	font-size: 14px;
	color: #555555;
	line-height: 22px;
}

body {
	height: 100%;
	width: 100%;
	background: url('../bg.jpg') center top;
	background-size: cover;
	margin: 0;
	text-align: center;
}

main {
	max-width: 700px;
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.clear {
	clear: both;
}

strong {
	// font-size: 1.2em;
	// font-weight: bold;
}

nav {
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 40px;
	margin-top: -40px;
	background-color: #B1882E;
	
	&.lockedAtTop {
		position: fixed;
		top: 0;
		margin-top: 0;
	}
}

// generic section
section {
	width: 100%;
	display: block;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 10px 50px;
	text-align: justify;
	border-bottom: 2px solid #EEEEEE;

	h1,h2,h3 {
		width: 100%;
		font-family: "Tangerine";
		// font-family: "Great Vibes";
		font-size: 70px;
		line-height: 0px;
		text-align: center;
		text-shadow: 3px 3px #EEEEEE;
	}

	.name {
		font-family: "Tangerine";
		// font-family: "Great Vibes";
		font-size: 30px;
		font-weight: bold;
		text-shadow: 1px 1px #EEEEEE;
	}

}

.posterSection {
	height: 100%;
	background: url('../jonkaitlinposter.jpg') center top no-repeat;
	background-size: cover;
}

.overviewSection {
	.groomPhoto, .bridePhoto {
		width: 200px;
		height: 200px;
		overflow: hidden;
		margin: 0 auto 10px;
		border-radius: 50%;
		border: 10px solid #EEEEEE;
		box-shadow: 0 0 5px 1px #B1882E;
	}

	.groomPhoto {
		background: url('../jk1.jpg') center top no-repeat;
		background-size: cover;
	}

	.bridePhoto {
		background: url('../jk2.jpg') center top no-repeat;
		background-size: cover;
	}

	h3 {
		font-size: 40px;
	}

	.groomSummaryContainer, .brideSummaryContainer {
		width: 43%;
		float: left;
		margin: 0 3%;
	}

	.groomSummary, .brideSummary {
		margin-top: -15px;
	}

	.coupleSummary {
		width: 100%;
		margin-top: 30px;
	}
}

.eventSection {
	height: 100%;
	.eventSummary {
		width: 100%;
		margin: 30px auto 40px;

		a {
			color: #555555;
			text-decoration: none;
		}
	}

	address, time {
		width: 43%;
		display: block;
		float: left;
		margin-right: 7%;
		font-family: "Droid Seriff";
		font-size: 1.3em;
		text-align: center;
		font-weight: bold;
	}
	
	.mapContainer {
		width: 80%;
		height: 400px;
		margin: 0 auto;
		border: 1px solid #EEEEEE;
	}
}
