html {
	height: 100%;
	width: 100%;
	// background-color: #432523;
	font-family: "Roboto";
	font-size: 14px;
	color: #555555;
	line-height: 22px;
}

body {
	height: 100%;
	width: 100%;
	background: url('../img/bg.jpg') center top;
	background-size: cover;
	margin: 0;
	text-align: center;
}

main {
	// hide main until page loads
	visibility: hidden;	
	max-width: 800px;
	height: 100%;
	position: relative;
	background-color: #FFFFFF;
	margin: 0 auto;
}

.clear {
	clear: both;
}

address, time {
	display: block;
	font-family: "Droid Seriff";
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
}
	
.mapContainer {
	width: 80%;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #EEEEEE;
}

nav {
	position: absolute;
	z-index: 1000;
	left: 0;
	bottom: 0;
	// same max-width as main element
	width: 100%;
	height: 40px;
	background-color: #B1882E;
	opacity: 0.9;
	line-height: 40px;
	
	&.lockedAtTop {
		position: fixed;
		top: 0;
		left: auto;
		max-width: 800px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;
		float: left;
		width: 25%;

		a {
			text-align: center;
			color: #FFFFFF;
			font-family: "Tangerine";
			font-size: 2em;
			text-decoration: none;
		}
	}
}

// generic section
section {
	width: 88%; //account for padding
	display: block;
	overflow: hidden;
	background-color: #FFFFFF;
	padding: 1% 6%;
	text-align: justify;

	h1,h2,h3 {
		width: 100%;
		font-family: "Tangerine";
		// font-family: "Great Vibes";
		font-size: 70px;
		line-height: 70px;
		text-align: center;
		text-shadow: 3px 3px #EEEEEE;
		margin: 20px 0;
	}

	.name {
		font-family: "Tangerine";
		// font-family: "Great Vibes";
		font-size: 30px;
		font-weight: bold;
		text-shadow: 1px 1px #EEEEEE;
	}

	.anchorLink {
		position: relative;
		// top same as nav height
		top: -40px;
		
	}
}

.posterSection {
	width: 100%;
	height: 100%;
	background: url('../img/jonkaitlinposter.jpg') center top no-repeat;
	background-size: cover;
	padding: 0;
}

.overviewSection {
	background-color: #F8F8F8;
	.groomPhoto, .bridePhoto {
		width: 200px;
		height: 200px;
		overflow: hidden;
		margin: 0 auto 10px;
		border-radius: 50%;
		border: 10px solid #EEEEEE;
		box-shadow: 0 0 5px 1px #B1882E;
	}

	.groomPhoto {
		background: url('../img/jk1_opt.jpg') center top no-repeat;
		background-size: cover;
	}

	.bridePhoto {
		background: url('../img/jk2_opt.jpg') center top no-repeat;
		background-size: cover;
	}

	h3 {
		font-size: 40px;
	}

	.groomSummaryContainer, .brideSummaryContainer {
		width: 43%;
		float: left;
		margin: 0 3%;
	}

	.groomSummary, .brideSummary {
		margin-top: -15px;
	}

	.coupleSummary {
		width: 100%;
		margin-top: 30px;
	}
}

.eventSection {
	background-color: #F0F0F0;
	.eventSummary {
		width: 100%;
		margin: 30px auto 40px;

		a {
			color: #555555;
			text-decoration: none;
		}
	}

	address, time {
		width: 43%;
		float: left;
		margin-right: 7%;
		font-style: normal;
	}
}

.hotelSection {
	background-color: #E8E8E8;
	.hotelSummary {
		width: 100%;
		margin: 30px auto 30px;

		.shuttleTitle {
			display: block;
			font-family: "Droid Seriff";
			font-size: 1.2em;
			text-align: center;
			font-weight: bold;
		}

		.venueToHotel {
			margin-top: 20px;
		}

		time {
			font-size: 1.2em;
		}
	}
}

.registrySection {
	background-color: #E0E0E0;
	min-height: 100%;

	.registrySummary {
		margin-bottom: 30px;
	}

	.cbContainer, .weContainer {
		display: block;
		width: 50%;
		float: left;
	}

	.cbLogo {
		width: 320px;
		height: 100px;
		background: url('../img/crate_barrel.jpg') center top;
		background-size: cover;
		margin: 0 auto;
	}

	.weLogo {
		width: 320px;
		height: 125px;
		background: url('../img/West_Elm_Logo.jpg') center top;
		background-size: cover;
		margin: 0 auto;
	}
}

@media (max-width: 675px) {
	.registrySection {
		.cbContainer, .weContainer {
			display: block;
			width: 100%;
			float: none;
		}
	}
}

@media (max-width: 600px) {
	.overviewSection {
		.groomSummaryContainer, .brideSummaryContainer {
			width: 100%;
			float: none;
			margin: 0;
		}
		.groomSummaryContainer {
			margin-bottom: 30px;
		}
	}
}
