
html, body {
	height: 100%;
	width: 100%;
	background-color: #432523
}

// generic page styles
.page {
	height: 90%;
	width: 1000px;
	min-width: 800px;
	margin: 0px auto;
	padding: 40px 0px;

	.imageFrame {
		float: left;
		height: auto;
		width: 45%;
		background-color: #FFFFFF;
		margin-right: 10%;

		// frame styles
		border:solid 15px #080822; 
		// box-shadow:-3px -3px 12px #999;

		.imageContainer {
			width: 100%;
			height: auto;

			img {
				height: 89%;
				width: 89%;
				margin: 5%;
				padding: 2px;
				background: linear-gradient(to bottom left, #AAAAAA, #CCCCCC);
			}
		}
	}

	.infoContainer {
		float: left;
		height: 100%;
		width: 40%;

		&::after {
			float: clear;
		}

		.titleCard {
			height: 30%;
			width: 100%;
			background-color: #FFFFFF;
			border: 1px black solid;
		}
		.infoCard {
			height: 60%;
			width: 100%;
			margin-top: 10%;
			background-color: #FFFFFF;
			border: 1px black solid;
		}
	}
}
